{% extends 'base.html' %}
{% block content %}



<div class="car-container">
  <div class="container-content">
    <span class="car-title">{{car.make}} {{ car.model }} {{car.year}}</span>
    <ul>
      <li>Color: <span> {{ car.color }} </span></li>
      <li>Transmission: <span> {{ car.transmission }} </span></li>
      <li>Seats: <span> {{ car.seats }} </span></li>
      <li>Engine: <span> {{ car.engine }} </span></li>
      <li>Odometer: <span> {{ car.odometer }} </span></li>
      <li>State Registration: <span> {{ car.state_reg }} </span></li>
      <li>Title: <span> {{ car.title }} </span></li>
    </ul>
    
    <div class="image-window">
      
    </div>

  </div>

  <div class="call-to-action-container">
    <div class="edit">
      <a href="{% url 'cars_update' car.id %}">Edit</a>
    </div>
    <div class="delete">
      <a href="{% url 'cars_delete' car.id %}">Delete</a>
    </div>
  </div>
  <!-- Insert photo markup below this comment -->
  
  
  {% for photo in car.photo_set.all %}
    <img class="responsive-img card-panel" src="{{photo.url}}">
  {% empty %}
    <div class="card-panel teal-text center-align">No Photos Uploaded</div>
  {% endfor %}
  <form action="{% url 'add_photo' car.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
    {% csrf_token %}
    <input type="file" name="photo-file">
    <br><br>
    <input type="submit" class="btn" value="Upload Photo">
  </form>
</div>
  

<h1 style="font-size: 3em;">CAR DETAILS</h1>
<a href="" style="font-size: 2em;">ADD MAINT</a>
<a href="" style="font-size: 2em;">VIEW MAINT</a>
<a href="" style="font-size: 2em;">ADD FEATURE</a>
<a href="" style="font-size: 2em;">VIEW FEATURES</a>

{% endblock %}