{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1>Car List</h1>

<!-- {% for car in car_list %}
  <a href="{% url 'cars_detail' car.id %}">
    <div class="card">
        <div class="card-content">
            <span class="card-title">{{ car.model }}</span>
 -->

<!-- <h1 style="font-size: 3em;">MY CARS</h1>
{% for car in cars %}
  <a href="{% url 'detail' car.id %}">
    <div class="card">
        <div class="card-content">
            <span class="card-title">{{ car.year }} {{ car.make}} {{ car.model }}</span>


        </div>
    </div>
  </a>
{% endfor %} -->

<div class = "car-squares-container">
  {% for car in cars %}
  <a href="{% url 'detail' car.id %}">
      <div class='car-square'>

          <div class='square-content'>

              <div class="car-img">
                <img src=''>
              </div>

              <div class="car-title">
                <p>{{ car.make}} {{ car.model }}</p>
              </div>

          </div>

      </div>
  </a>
  {% endfor %}
</div>

<!-- had to add another endfor for some reason -->

<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">

{% endblock %}
