{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Car Diary</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400&display=swap" rel="stylesheet">
</head>
<body>
    <header class="">
        <nav>

                <div id="icon"></div>
                <ul id="header-links">
                {% if user.is_authenticated %}
                    <li><a href="{% url 'cars_create'%}">Add a Car</a></li>
                    <li><a href="{% url 'index' %}">My Cars</a></li>
                    <li><a href="{% url 'logout' %}" id="logout">Log Out</a></li>
                    {% else %}
                    <li><a href="{% url 'login' %}">Log In</a> </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>


    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

  	<!-- <footer class="page-footer">
       <div class="footer-text">All Rights Reserved, &copy; 2019 Car Diary &nbsp;</div>
    </footer> -->
</body>
</html>