
{% extends 'base.html' %}
{% load static %}


{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">


<div class="image-window">
    <div class="image-window-black-backgrounds">
            <div id="image-window-black-area-background">
                <p id="image-window-text"> 
                    Car Journaling 
                    <br>
                    <br>
                    <span>Made Easy</span> 
                </p>
                <p id="image-window-text-two"> 
                        <a href="{%url 'signup'%}">Sign Up</a>                 </p>
            </div>
            <div id="image-window-black-area-background-two">
                <p id="image-window-text-two"> 
                        <a href="{% url 'login' %}">Log In</a> 
                </p>
            </div>
    </div>
 </div>



{% endblock %}