{% extends 'base.html' %}
{% block content %}

<div class="image-window">
    <div class="image-window-black-backgrounds">
            <div id="image-window-black-area-background">
                <p id="image-window-text"> 
                    Car Journaling 
                    <br>
                    <br>
                    <span>Made Easy</span> 
                </p>
                <p id="image-window-text-two"> 
                        <a href="">Sign Up</a> 
                </p>
            </div>
            <div id="image-window-black-area-background-two">
                <p id="image-window-text-two"> 
                        <a href="">Log In</a> 
                </p>
            </div>
    </div>
 </div>



{% endblock %}