 .image-window {   
    min-height: 700px;
    background-image: url(../imgs/interior.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: 25% 35%;
    display: flex;
    justify-content: center;
  }
  #image-window-black-area-background{
    display: flex;
    height: 45vmin;
    width: 60vmin;
    right: 23vmax;
    top: 25vmin;
    position: relative;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.701);
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.219);
  }
  #image-window-text{
    font-weight: 100;
    font-size: 2.4em;
    color: white;
    text-shadow: 4px 4px 4px rgb(70, 70, 70, 1);
    text-align: center;
    margin-top: 2%;
    padding: 30px;
    max-height: 290px;
    max-width: 250px;
  }

  #image-window-text span{
    padding-top: 30px;
    color: orange;
    font-weight: 400;
  }

  .image-window-black-backgrounds{
    display: flex;
    flex-direction: row;
  }
  #image-window-text-two a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px;
    margin: 10px;
    background-color: green;
    display: block;
    border: 2px solid transparent;
    transition: all .4s;
    box-shadow: 2px 2px 2px rgb(70, 70, 70, .2);
  }

  #login-button{
    display: flex;
    justify-content: center;
    align-items: baseline;
  }

  #image-window-text-two a:hover{
    background-color: white;
    color: green;
  }